html {
  font-family: 'Dosis', sans-serif;
}

body {
  font-family: 'Dosis', sans-serif;
  margin-bottom: 100px;
  ;
}

table {
  margin: 0 auto;
  margin-bottom: 10px;
}

a {
  color: #5bc0de;
  text-decoration: none !important;
  /* font-weight: 200; */
}

h4 {
  color: #5bc0de;
  font-size: 30px;
  text-align: center;
  color: black;
}

img {
  max-width: 100%;
  height: auto;
}

a.nav-link {
  font-size: 20px;
}

footer {
  color: white;
  padding: 0;
  margin-bottom: 0;
  position: sticky;
  border-top: 1px solid rgba(240, 84, 80, .8);
}

button.table{
  width: 60%;
  margin: 2px;
}

span.table{
  font-size: 20px;
}

a.back {
  color: white;
  background-color: rgba(91, 192, 222, .75);
  border-radius: 2px;
  font-size: 18px;
}

td {
  border: 1px solid black; 
  padding: 10px;
}


input.form-control {
  /* background-color: darkgrey;
  color: rgb(240, 84, 80); */
  border: 1px solid #5bc0de;
  text-align: center;
  font-family: 'Dosis', sans-serif;
}

.background-photo {
  background: url(/images/benni-talent-238911.jpg) no-repeat center center fixed;
  background-size: cover;
}

.forms {
  overflow: hidden;
}

.btn-primary {
  background-color: transparent;
  background: rgb(240, 84, 80);
  border-color: rgb(240, 84, 80);
}

.btn-warning {
  background-color: #5bc0de;
  border: #5bc0de;
}

.btn-warning:hover {
  background-color: #4da5c6;
  border: #4da5c6;
}

.btn-success {
  background-color: rgba(240, 84, 80, .5);
  border-color: rgba(240, 84, 80, .5);
}

.btn-success:hover {
  background-color: rgba(91, 192, 222, 0.8);
  border: rgba(91, 192, 222, .8);
}

.btn-xs.btn-danger {
  background-color: rgba(91, 192, 222, .75);
  border-color: rgba(91, 192, 222, .75);
  text-align: center;
}

.commentBox {
  text-align: left !important;
}

.results {
  color: white;
  border: 1px solid;
  border-color: rgba(240, 84, 80, .3);
}

.container {
  margin: 0 auto;
}

.itin {
  /* border: 1px solid; */
  border-color: rgba(240, 84, 80, .2);
  background: rgba(255,255,255,.75);
  border-radius: 5px;
}

.card {
  color: black;
  margin: 10px auto;
  background-color: rgba(250, 250, 250, 0.8);
  width: 19rem;
}

.card-holder {
  padding: 10px !important;
}

.card-block {
  background-color: rgba(250, 250, 250, .2) !important;
}

.nav-item {
  color: white !important;
}

.nav-link {
  color: rgba(91, 192, 222, .75);
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, .7);
  text-align: center;
}

.backdiv, .btnholder, .container, .form-control {
  text-align: center;
}

.custom-toggler.navbar-toggler {
  margin-top: 5px;
  border-color: #5bc0de;
}

.star {
  margin-bottom: 15px;
}

.dead, .dead.fa-arrow-circle-up {
  color: grey;
}


.downArrow, .fa-arrow-circle-up {
  color: rgb(91, 192, 222);
}


.tableHead{
  font-size: 30px;
}

.mainBlock {
  padding: 0 !important;
}

#burger,#NavbarNavDropdown, .btn:focus, .btn:active:focus, .btn.active:focus {
  outline: 0 none;
  box-shadow: none;
}

#navHeader {
  background-color: rgba(0, 0, 0, .8);
  color: rgb(240, 84, 80);
  border-bottom: 1px solid rgba(240, 84, 80, .8);
}

#headLogo {
  margin-bottom: 10px;
  margin-top: 90px;
}

#copyright,
#burger {
  color: rgba(240, 84, 80, .8);
}
