body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.btn-primary-outline {
  background-color: transparent;
  border-color: #ccc;
}

.left {
  text-align: left;
}

.background-photo {
  background: url(/images/benni-talent-238911.jpg) no-repeat center center fixed; 
  background-size: cover;
}

.btn-success {
  background-color: black; 
  border-color: black;
}

.results {
  color: white; 
  border: 1px solid white; 
  padding: 20px 50px; 
  width: 550px;
}

.thumb {
  max-width: 100px;
}

span {
  color: transparent;
  -webkit-text-stroke-width: 0.8px;
  -webkit-text-stroke-color: white;
  text-align: center; 
  font-family: Cabin;
  letter-spacing: 2px;
  font-size: 60px;
}

span b {
  font-size: 15px;
}