body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.btn-primary-outline {
  background-color: transparent;
  border-color: #ccc;
}

.left {
  text-align: left
}

.background-photo {
  background: url(/images/benni-talent-238911.jpg) no-repeat center center fixed; 
  background-size: cover
}

span {
  color: #f3f1f3; 
  text-align: center; 
  font-family: Cabin;
  letter-spacing: 2px;
  font-size: 60px
}

span b {
  font-size: 15px
}