<!DOCTYPE html>
<html>
    <head>
        <title>Where The Party At?</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="/stylesheets/main.css">
        <link href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet">
        
    </head>
    <body class="background-photo">
    <!-- new html below -->
    <div class="container">
     <% if (user) { %>

     <ul style="color: white">Hello, <%=user.name %> </ul>
     <% } %>
     <ul class="left">
        <% if (user) { %>

        <!-- <h3>Hello <%= user.name %> </h3>
            <h5>for dev: <%= user.googleId %> </h5> -->
        <% } %>
        </ul>
     <ul class="right">

       <% if (user) { %>
        
       <li class="btn btn-primary-outline"><a style="color: white" href="/logout">Logout</a></li>
       <% } else { %>
       <li class="btn btn-primary-outline"><a style="color: white" href="/auth/google">Log in with Google</a></li>
       <% } %>

    </ul><br>
    
    <div class="col-xs-12 text-center">
       <span><img src="https://i.imgur.com/In9ojXj.png"></span>
    </div> 
    </div>

